psycopg2-binary
sqlalchemy<2.0
jsonschema
pyarrow
pytest
requests
apache-airflow
apache-airflow-providers-postgres
apache-airflow-providers-sqlite
apache-airflow-providers-docker
apache-airflow-providers-http
duckdb
psycopg2-binary
sqlalchemy<2.0
pandas
jsonschema
pyarrow
boto3
duckdb-engine
